  <!-- Dropdown Structure -->
<ul id="material-components" class="dropdown-content">
  <li><a [routerLink]="['Bages']">Badges</a></li>
  <li><a [routerLink]="['Buttons']">Buttons</a></li>
  <!--<li class="divider"></li>-->
  <li><a [routerLink]="['Breadcrumbs']">Breadcrumbs</a></li>
  <li><a href="#!">Cards</a></li>
  <li><a href="#!">Chips</a></li>
  <li><a href="#!">Collections</a></li>
  <li><a href="#!">Footer</a></li>
  <li><a href="#!">Forms</a></li>
  <li><a href="#!">Icons</a></li>
  <li><a href="#!">Navbar</a></li>
  <li><a href="#!">Pagination</a></li>
  <li><a href="#!">Preloader</a></li>
</ul>

<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Angular2 & Material Design</a>

    <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="material-components">Components<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Components</a></li>
      <li class="divider"></li>
      <li><a [routerLink]="['Bages']">Badges</a></li>
      <li><a [routerLink]="['Buttons']">Buttons</a></li>
      <!--<li class="divider"></li>-->
      <li><a [routerLink]="['Breadcrumbs']">Breadcrumbs</a></li>
      <li><a href="#!">Cards</a></li>
      <li><a href="#!">Chips</a></li>
      <li><a href="#!">Collections</a></li>
      <li><a href="#!">Footer</a></li>
      <li><a href="#!">Forms</a></li>
      <li><a href="#!">Icons</a></li>
      <li><a href="#!">Navbar</a></li>
      <li><a href="#!">Pagination</a></li>
      <li><a href="#!">Preloader</a></li>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>


  <div class="container">
    <div class="section">
      <router-outlet></router-outlet>
    </div>
  </div>

<app-footer></app-footer>